extends layout

block css
	link(rel='stylesheet', href='/stylesheets/tabs.css')

block scripts
	script(src='/js/lib/angular.min.js')
	script(src='/js/fdp.js')

block content
	div
		h1 Liste des feuilles de perso
	
	div.container-fluid(ng-controller="fdpCtrl")

		div.row
			div#fdpList.col-md-1
				p Vous avez {{nbFdP()}} FdP
				ul.list-group
					a.list-group-item(ng-repeat='file in files' ng-click="displayFile(file)" ng-class="{active: isFileSelected(file)}") {{file}}

			div#fdp.tabContainer.col-md-11
				ul.nav.nav-tabs
					li.disabled 
						a(href="#" onclick="return false") {{getTplName()}}
					li(ng-repeat="page in pc.pages", ng-class="{active: $index == 0}")
						a(href="#tab{{$index + 1}}" data-toggle="tab") {{page.title}}

				div.tab-content
					div(ng-repeat="page in pc.pages", id="tab{{$index + 1}}", ng-class="{active: $index == 0}", class="tab-pane")
						ul.list-group
							li.list-group-item(ng-if="page.notes !== ''")
								p.label Notes
								p.value {{page.notes}}

							li(ng-repeat='field in page.fields', ng-class="{'list-group-item-warning': field.type == 's'}", class="list-group-item")
								p.label {{field.name}} 
								p.value(ng-if="field.type != 's'") {{field.value}}


							li.list-group-item(ng-if="page.items.length != 0", ng-repeat="item in page.items")
								p.value {{item}}
						